<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Events</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to my Events</h1>
    <a href="/users/<%= user._id %>/users/index" class="btn2">Explore Our Community</a>
    <a href="/users/<%= user._id %>/events/new" class="btn2">Add an Item</a>

    <div class="info">
        <div>
          <% events.forEach( (evt) => { %>
              <a href="/users/<%= user._id %>/events/<%= evt._id %>" class="infoinfo">
                <%= evt.name %> 
              </a></br>
            <% }) %>
        </div>
    </div>
    

  </body>
</html>