<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Events</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to my Events</h1>
    <a href="/users/<%= user._id %>/Community" class="btn2">Explore Our Community</a>

    <div class="eventsSpace">
        <div class="myEvents">
             <p>My Events</p>
             <div>
                  <a href="/users/<%= user._id %>/events/new" class="btn2">Add an Event</a>
             </div>
             <div class="infoSection">
                  <% events.forEach( (evt) => { %>
                      <a href="/users/<%= user._id %>/events/<%= evt._id %>" class="infoinfo">
                        <%= evt.name %> 
                      </a>
                  <% }) %>
             </div> 
         </div>
         <div class="regEvents">
              <p>Registered Events</p>
              <div class="infoSection">
                  <% registeredEvents.forEach( (evt) => { %>
                    <a href="/users/<%= user._id %>/registeredEvents/<%= evt._id %>" class="infoinfo">
                      <%= evt.name %>
                    </a>
                  <% }) %>
              </div> 
         </div>
    </div>
    

  </body>
</html>