<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Events</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to my Events</h1>
    <a href="/users/<%= user._id %>/events/new">Add an Item</a>

    <ul>
      <% events.forEach( (evt) => { %>
        <li>
          <a href="/users/<%= user._id %>/events/<%= evt._id %>">
            <%= evt.name %> 
          </a>
        </li>
        <% }) %>
    </ul>
    

  </body>
</html>