<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= event.name %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= event.name %></h1>
    <ul>
      <li>
         <%= event.name %> 
      </li>
      <li>
        <%= event.Date %> 
      </li>
      <li>
         <%= event.time %> 
      </li>
      <li>
         <%= event.location %> 
      </li>
      <li>
         <%= event.description %> 
      </li>
    </ul>

    <a href="/users/<%= user._id %>/events/<%= event._id %>/edit">Edit this event</a>

    <form
      action="/users/<%= user._id %>/events/<%= event._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete this event</button>
    </form>
  </body>
</html>